/**
*! Style rules for label and some buttons
**/
.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

/* Sidebar css code starts here */
.sidebar {
    display: flex;
    padding: 10px;
}
.leftMenu {
    flex: 1;
}

.search {
    padding: 10px;
    width: 250px;
    border: 2px solid gray;
}

h1 {
    font-size: 30px;
    color: #555;
    font-weight: 300;
}


.cats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cat {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
}

.content {
    flex: 4;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 2px solid #212529;
    object-fit: contain;
}

.name {
    font-size: 24px;
}
.desc{
    font-size: 18px;
}
.price{
    display: flex;
    font-size: 20px;
}
.price-quantity {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.category-item{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.bi-dash-lg {
    color: red;
}

.bi-plus-lg {
    color: green;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}
